

<div class="banner" id="show-banner" style="background-image: url('<%= cl_image_tag @article.photo.key %>');">
  <div class="container">
    <h1><strong><%= @cocktail.name %></strong></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card-white">
        <h3><strong>Ingredients</strong></h3>
          <ul>
            <% @cocktail.doses.each do |dose| %>
              <li>
                <strong><%= dose.ingredient.name %>:</strong>
                <%= dose.description %>
                <%= link_to dose_path(dose), method: :delete, data: {confirm: "Are you sure you want to delete #{dose.ingredient.name}?"} do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </li>
            <% end %>
          </ul>

<!--         <%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail), class: 'btn btn-outline-light' %>
 -->
        <%= link_to "Delete cocktail", cocktail_path(@cocktail), class: 'btn btn-outline-light', method: :delete, data: { confirm: "Are you sure you want to delete #{@cocktail.name}?" } %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card-white">
        <h3><strong>Add ingredients</strong></h3>
        <%= simple_form_for [@cocktail, @dose] do |f|  %>
          <%= f.association :ingredient %>
          <%= f.input :description %>
          <%= f.submit class: 'btn btn-outline-light' %>
          <% end %>
      </div>
    </div>

    <!-- <div class="col-sm-6">
      <div class="card-white">
        <h3><strong>Reviews</strong></h3>
      </div>
    </div> -->

  </div>
</div>
